{% extends "nameservice/base.html"%}

{% block content %}
{% if user.is_authenticated %}
<div>
    <button class="btn btn-outline-success float-end mb-3">
        <a href="{% url 'nsCreate' %}" class="text-decoration-none "><i class="fas fa-plus"></i> Create NS</a>
    </button>
</div>
{% endif %}

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">Name</th>
            <th scope="col">Skylink</th>
            <th scope="col">Description</th>
        </tr>
    </thead>

    <tbody>
        {% for ns in object_list %}
        <tr>
            <td><a href="{% url 'nsDetail' ns.id %}"> {{ ns.name }} </a></td>
            <td>{{ns.skylink}} &emsp;
                <a href="{{user.user_portal.portal.url}}{{ns.skylink}}">
                    <i class="fas fa-external-link-alt"></i>
                </a>
            </td>
            <td>{{ns.description}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Pagination -->
<div class="container">
    {% if is_paginated %}
    {% if page_obj.has_other_pages %}
    <ul class="pagination justify-content-center" style="margin:20px 0">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
    </ul>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}